html {
    background-color: black;
    box-sizing: border-box;
    font-family: /*"Fira Sans",*/ sans-serif;
}
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
/*-------Header--------------*/

h1 {
    color: rgb(231, 235, 16);
    position:fixed;
    z-index: 5;
    /*font-family: sans-serif;*/
    font-size: 5em;
    padding: 0 15rem;
    
}

@media (max-width: 481px) {

    h1 {
        font-size: 3rem ;
        padding: 0;
        margin-left: 1rem;
    }
}
/*------Links----------------*/

h2 {
    color: whitesmoke;
    /*font-family: sans-serif;*/
    font-size: 4em;
}

.link-container {
    position: absolute;
    padding-top: 17rem;
    padding-left: 15rem;
}

.link h2 {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}
@media (max-width: 481px) {

    h2 {
        font-size: 2rem ;
    }

    .link-container {
        padding: 12rem 0rem;
        margin-left: 1rem;
    }
}



/*-------Profile image------*/

.profile-image img {
    width: 55%;
    height: auto;
    overflow: hidden;
    float: right;
    padding-right: 5rem;
    
}

@media (max-width: 481px){

    html body {
        display: flex;
        
    }

    .profile-image {
        display: flex;
        align-items: flex-end;
        /*overflow: hidden;*/
    }

    .profile-image img {
        padding: 0;    
        width: 100%;
        /*overflow: hidden;*/
    }
    
    
}